extends layout

block content
  .container-fluid.p-5
    h1 Airsys
    p Welcome to Airsys - An Airline Reservation System
    form#booking(onsubmit="return false")
      .form-group
        label(for="from") From
        input.form-control#from(name="takeoffCity")
      .form-group
        label(for="to") To
        input.form-control#to(name="destinationCity")
        
      
