extends layout

block content
  .container-fluid.p-5
    h1 Airsys
    p Welcome to Airsys - An Airline Reservation System
    form#booking(onsubmit="return false")
      .form-group
        label(for="from") From
        input.form-control#from(name="takeoffCity")
      .form-group
        label(for="to") To
        input.form-control#to(name="destinationCity")
      .form-group
        label(for="date") Date
        input.form-control#date(name="takeoffDate")
      button.btn.btn-primary(onclick="findFlights()") Find Flights
  script.
    function findFlights() {
      
      let formData = {
        takeoffCity: document.getElementById("from").value,
        destinationCity: document.getElementById("to").value,
        takeoffDate: document.getElementById("date").value
      }
      fetch('/flights/search', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
      .then(res => res.json())
      .then(data => {
        alert(data.duplicate)     // Later do some stuff here.
      })
    }