extends layout

block content
  .container-fluid.p-5
    h1 Airsys
    p Welcome to Airsys - An Airline Reservation System
    form#booking(onsubmit="return false")
      .form-group
        label(for="from") From
        select.form-control#from(name="takeoffCity")
          each city in cities
            option= city
      .form-group
        label(for="to") To
        select.form-control#to(name="destinationCity")
          each city in cities
            option= city
      .form-group
        label(for="date") Date
        input.form-control#date(name="takeoffDate", type="date")
      button.btn.btn-primary(onclick="findFlights()") Find Flights
  script.
    function findFlights() {
      
      let formData = {
        takeoffCity: document.getElementById("from").value,
        destinationCity: document.getElementById("to").value,
        takeoffDate: document.getElementById("date").value
      }

      fetch('/flights/search')
      .then(res => res.json())
      .then(data => {
        alert(data.duplicate)     // Later do some stuff here.
      })
    }

    